@font-face {
  font-family: "Archivo Black";
  src: url("./fonts/ArchivoBlack-Regular.ttf");
}


@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Medium.ttf");
  }


  
@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Thin.otf");
}

